.slider {
  margin-bottom: 25px;
}

.range {
  display: flex;
  justify-content: space-between;
  color: #9cb0d4 !important;
}

.range span {
  font-size: 16px;
}

.selector {
  width: 100%;
  margin-top: 5px;
  cursor: pointer;
}

/************** INPUT RANGE ************/

.selector {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: transparent;
}
.selector:focus {
  outline: none;
}
.selector::-webkit-slider-runnable-track {
  height: 8.4px;
  cursor: pointer;
  background: #3276eb;
  border-radius: 9999px;
}
.selector::-webkit-slider-thumb {
  height: 25px;
  width: 13px;
  border-radius: 9999px;
  background: #d7e0ee;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
.selector::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #3276eb;
  border-radius: 9999px;
}
.selector::-moz-range-thumb {
  height: 25px;
  width: 13px;
  border-radius: 9999px;
  background: #d7e0ee;
  cursor: pointer;
}
.selector::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.selector::-ms-fill-lower {
  background: #3276eb;
  border-radius: 9999px;
}
.selector::-ms-fill-upper {
  background: #3276eb;
  border-radius: 9999px;
}
.selector::-ms-thumb {
  height: 25px;
  width: 13px;
  border-radius: 9999px;
  background: #d7e0ee;
  cursor: pointer;
}
.selector:focus::-ms-fill-lower {
  background: #3276eb;
}
.selector:focus::-ms-fill-upper {
  background: #3276eb;
}

/**********************/
/******* DARKMODE *****/
/**********************/

.slider.dark .range {
  color: #f3f1ff !important;
}

/********* INPUT RANGE *********/

.slider.dark input[type='range']::-webkit-slider-runnable-track {
  background: #5f5f79;
}
.slider.dark input[type='range']::-webkit-slider-thumb {
  background: #7db7dc;
}
.slider.dark input[type='range']:focus::-webkit-slider-runnable-track {
  background: #5f5f79;
}
.slider.dark input[type='range']::-moz-range-track {
  background: #5f5f79;
}
.slider.dark input[type='range']::-moz-range-thumb {
  background: #7db7dc;
}

.slider.dark input[type='range']::-ms-fill-lower {
  background: #5f5f79;
}
.slider.dark input[type='range']::-ms-fill-upper {
  background: #5f5f79;
}
.slider.dark input[type='range']::-ms-thumb {
  background: #7db7dc;
}
.slider.dark input[type='range']:focus::-ms-fill-lower {
  background: #5f5f79;
}
.slider.dark input[type='range']:focus::-ms-fill-upper {
  background: #5f5f79;
}
