.slider {
  margin-bottom: 25px;
}

.range {
  display: flex;
  justify-content: space-between;
  color: #9cb0d4 !important;
}

.range span {
  font-size: 16px;
}

.selector {
  width: 100%;
  margin-top: 5px;
  cursor: pointer;
}

/************** INPUT RANGE ************/

.selector {
  outline: 0;
  border: 0;
  border-radius: 500px;
  max-width: 100%;
  margin: 10px 0 0;
  transition: box-shadow 0.2s ease-in-out;
  overflow: hidden;
  height: 17px;
  -webkit-appearance: none;
  background-color: #ddd;
}
.selector::-webkit-slider-runnable-track {
  height: 17px;
  -webkit-appearance: none;
  color: #444;
  -webkit-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
}
.selector::-webkit-slider-thumb {
  width: 17px;
  -webkit-appearance: none;
  height: 17px;
  cursor: ew-resize;
  background: #fff;
  box-shadow: -810px 0 0 800px #3276eb, inset 0 0 0 30px #3276eb;
  border-radius: 50%;
  -webkit-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
}
.selector:active::-webkit-slider-thumb {
  background: #fff;
  box-shadow: -810px 0 0 800px #3276eb, inset 0 0 0 3px #3276eb;
}

.selector::-moz-range-track {
  overflow: hidden;
  height: 17px;
  background-color: #ddd;
}
.selector::-moz-range-thumb {
  width: 17px;
  -webkit-appearance: none;
  height: 17px;
  cursor: ew-resize;
  background: #fff;
  box-shadow: -810px 0 0 800px #3276eb, inset 0 0 0 30px #3276eb;
  border-radius: 50%;
  -webkit-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
}
.selector:active::-moz-range-thumb {
  background: #fff;
  box-shadow: -810px 0 0 800px #3276eb, inset 0 0 0 3px #3276eb;
}

.selector::-ms-track {
  overflow: hidden;
  height: 17px;
  background-color: #ddd;
}
.selector::-ms-thumb {
  width: 17px;
  -webkit-appearance: none;
  height: 17px;
  cursor: ew-resize;
  background: #fff;
  box-shadow: -810px 0 0 800px #3276eb, inset 0 0 0 30px #3276eb;
  border-radius: 50%;
  -webkit-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
}
.selector:active::-ms-thumb {
  background: #fff;
  box-shadow: -810px 0 0 800px #3276eb, inset 0 0 0 3px #3276eb;
}



/**********************/
/******* DARKMODE *****/
/**********************/

.slider.dark .range {
  color: #f3f1ff !important;
}

/********* INPUT RANGE *********/

.slider.dark .selector::-webkit-slider-runnable-track {
  background: #5f5f79;
}
.slider.dark .selector:focus::-webkit-slider-runnable-track {
  background: #5f5f79;
}
.slider.dark .selector::-moz-range-track {
  background: #5f5f79;
}

.slider.dark .selector::-ms-fill-lower {
  background: #5f5f79;
}
.slider.dark .selector::-ms-fill-upper {
  background: #5f5f79;
}
.slider.dark .selector:focus::-ms-fill-lower {
  background: #5f5f79;
}
.slider.dark .selector:focus::-ms-fill-upper {
  background: #5f5f79;
}

.slider.dark .selector::-webkit-slider-thumb {
  box-shadow: -810px 0 0 800px #7db7dc, inset 0 0 0 30px #7db7dc;
}
.slider.dark .selector:active::-webkit-slider-thumb {
  background: #fff;
  box-shadow: -810px 0 0 800px #7db7dc, inset 0 0 0 3px #7db7dc;
}

.slider.dark .selector::-moz-range-thumb {
  box-shadow: -810px 0 0 800px #7db7dc, inset 0 0 0 30px #7db7dc;
}
.slider.dark .selector:active::-moz-range-thumb {
  background: #fff;
  box-shadow: -810px 0 0 800px #7db7dc, inset 0 0 0 3px #7db7dc;
}


.slider.dark .selector::-ms-thumb {
  box-shadow: -810px 0 0 800px #7db7dc, inset 0 0 0 30px #7db7dc;
}
.slider.dark .selector:active::-ms-thumb {
  background: #fff;
  box-shadow: -810px 0 0 800px #7db7dc, inset 0 0 0 3px #7db7dc;
}


